[submodule "hardware-nodes"]
	path = hardware-nodes
	url = https://github.com/gregjhansell97/hardware-nodes.git
[submodule "hive-map-c"]
	path = hive-map-c
	url = https://github.com/gregjhansell97/hive-map-c.git
[submodule "hive-map-python-3"]
	path = hive-map-python-3
	url = https://github.com/gregjhansell97/hive-map-python-3.git
