[submodule "hive-map-python-3"]
	path = hive-map-python-3
	url = https://github.com/gregjhansell97/hive-map-python-3.git
[submodule "hive-map-embedded-cpp"]
	path = hive-map-embedded-cpp
	url = https://github.com/gregjhansell97/hive-map-embedded-cpp.git
